body {
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    height: 100vh;
    background: url('img11.jpg');
    background-size: cover;
}

.whatsapp-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}
.facebook-float {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  background-color: #3b5998;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.facebook-float:hover {
  transform: scale(1.1);
}
.custom-float {
  position: fixed;
  right: 100px; /* Ajusta la distancia del bot칩n al lado de la p치gina */
  top: calc(50% - 30px); /* Ajusta la posici칩n vertical del bot칩n */
  width: 60px;
  height: 60px;
  background-color: #ff0000; /* Ajusta el color de fondo deseado */
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.custom-float:hover {
  transform: scale(1.1);
}

