body {
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    height: 100vh;
    background: url('img11.jpg');
    background-size: cover;
}

.whatsapp-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}
.facebook-float {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  background-color: #3b5998;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.facebook-float:hover {
  transform: scale(1.1);
}
.work-float {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: #555555;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.work-float:hover {
  transform: translateX(50%) scale(1.1);
}

.left-button {
  position: fixed;
  left: 50%; /* Ajusta la posición horizontal del botón */
  transform: translateX(-50%);
  bottom: 20px; /* Ajusta la distancia del botón desde la parte inferior */
  background-color: yellow; /* Ajusta el color de fondo deseado */
  color: #000; /* Ajusta el color del texto */
  padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  z-index: 999;
}


